body {
flex-direction: column;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
margin:0;
}

header{
display: flex;
justify-content: center;
text-align: center;
color:white;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer{
display: flex;
font-size:12px;
justify-content: center;
}

a{
  color:black;
}
a:hover{
  color:#362999;
  transition: all 150ms ease-in-out;
}

footer a{
  color:white;
}
footer a:hover{
  color:#362999;
  transition: all 150ms ease-in-out;
  transform: scale(1.5);
}

form{
display: flex;
justify-content: center;
padding: 10px;
text-align: center;
}

ul{
  display:flex;
  justify-content: space-evenly;
  list-style: inside;
  list-style-type: disc;
  padding:0;
}

.button{
  border: black 2px solid;
  border-radius: 10px;
  margin: 0px 10px;
  padding: 5px 10px;
}
.button:hover{
  background: #ffffff;
  color:#362999;
  transition: all 150ms ease-in-out;
  transform: scale(1.2);
}

.container{
  max-width: 100%;
}

.bg {
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.example{
  font-size:15px;
  opacity:0.8;
}
.page-content{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.results{
   background-color: white;
  border: 4px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px;
  max-width: 100%;
  padding: 10px;
  text-align: left;
}
.phonetics{
  font-size:20px;
}
.titles{
  font-size: 30px;
}
.searchWord{
  color:#4229ff;
}

@media only screen and (max-width: 600px) {
  ul{
    flex-direction: column;
    align-items:center;
  }
  .phonetics, .titles{
    font-size:16px;
  }
  .results {
    margin: 5px;
    padding: 5px;
  }
}
