body {
background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
}

header{
display: flex;
justify-content: center;
text-align: center;
margin: 5px 0px 0px 0px;
}

footer{
display: flex;
justify-content: center;
font-size:12px;
}

a{
  color:#362999;
}

form{
display: flex;
justify-content: center;
text-align: center;
padding: 10px;
}

.button{
  border: black 2px solid;
  border-radius: 10px;
  margin: 0px 10px;
}
.button:hover{
  background: #bbe4e9;
  color:#362999;
}

.container{
  max-width: 100%;
}
.page-content{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.meaning{
  text-align: left;
  border: 2px solid black;
  border-radius: 10px;
  padding:10px;
}
